*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 90vh;
    width: 100%;
    background-color: black;
}
h1{
    color: aqua;
    text-align: center;
    text-shadow: 1px 1px white;
}

.output{ 
    font-weight: bold; 
} 
#payment{ 
    text-decoration: underline; 
}
#graph{ 
    border: 1px solid aqua; 
}
.table-sec{
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
}  
td{ 
    color: azure;
    font-weight: 500;
    vertical-align: top; 
} 
th{
    color: aqua;
    font-weight: 900;
    font-size: 20px;

}
table{
    text-align: center;
}
#amt{
    margin-right: 10px;
}
.btn-calculator{
    background-color: aqua;
    color: black;
    text-shadow: 1px 1px white;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 25px;
}
#lenders{
    color: azure;
}

